.container {
  width: 90%;
  height: 100%;
  overflow: scroll;

  th {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3B393C;
  }
}

span {
  margin: 0 3px;
}