.container {

}

.close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  right: 45px;
  cursor: pointer;
}

.close::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\d7";
  font-size: 35px;
  color: black;
  text-align: center;
}

.title {
  width: 100%;
  margin-bottom: 30px;
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;

    display: flex;
    align-items: flex-end;
    color: #4C464B;
  }
}

.photo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  .avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.doctor_info {
  width: 100%;
  margin-bottom: 25px;

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}

.working_days {
  width: 100%;
  margin-bottom: 25px;

  .text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #A8A8A8;
    margin-bottom: 6px;
  }

  .days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 50px);
    column-gap: 10px;

    .day {
      width: 50px;
      height: 50px;
      background: #F7F3F7;
      border: 1px solid #F1F0F3;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;



      span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        letter-spacing: -0.205297px;
        color: #4C464B;
        user-select: none;
      }
    }
    .active {
      background: #5CC78D;

      span {
        color: white;
      }
    }
  }
}

.interview_time {
  width: 100%;

  .text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #A8A8A8;
    margin-bottom: 10px;
  }

  .time_row {
    display: flex;
    margin-bottom: 10px;

    .time_block {
      display: flex;
      align-items: center;
      margin-right: 10px;

      span {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #A8A8A8;

      }

      .time {
        width: 100px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F7F3F7;
        border-radius: 6px;

        span {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          align-items: center;
          color: #4C464B;
        }
      }
    }
  }
}


