.schedule {
  width: 1340px;
  height: 820px;
  display: flex;
  justify-content: space-between;
}

.list_section {
  width: 887px;
  height: 820px;
  background: #ffffff;
  padding: 30px 25px 0 20px;
  border: 1px solid #f1f0f3;
  border-radius: 10px;
}

.list_section h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #4c464b;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.roles_options {
  width: 420px;
  display: flex;
  justify-content: space-between;
}

.time_option {
  margin-right: 32px;
}

.schedule_table {
  margin-top: 34.5px;
}

.calendar_section {
  width: 433px;
  height: 820px;
  position: relative;
  background: #ffffff;

  border: 1px solid #f1f0f3;
  border-radius: 10px;
}

.calendar_image_container {
  width: 320px;
  height: 248px;
  position: absolute;
  bottom: 58px;
  left: 57px;
}

.calendar_image_container p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.24379px;
  color: #a8a8a8;
}

.calendar_container {
}
