.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  /* Черный */

  color: #4c464b;
}

.options_right {
  max-width: 500px;
  min-width: 420px;
  display: flex;
  justify-content: space-between;
}

.space_between {
  width: 100%;
  height: 35.5px;
}
