.button {
  width: 140px;
  height: 32px;
  background: #5CC78D;
  border-radius: 4px;
  border-style: none;

  span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
  }
}