@import './src/utils/styles/styles';

.close {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 15px;
  right: 35px;
  cursor: pointer;
}

.close::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\d7";
  font-size: 35px;
  color: $text_black;
  text-align: center;
}

.title {
  width: 100%;
  margin-bottom: 40px;
}

.first {
  width: 100%;
  margin-bottom: 24px;
}

.second {
  margin-bottom: 26px;


  .subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $text_black;
    margin-left: 2px;
    margin-bottom: 10px;
  }
}

.add_contact {
  margin-bottom: 40px;
  cursor: pointer;

  p {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // text
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $text_black;
  }
}

