.input {
  width: 280px;
  height: 40px;
  background: #F7F3F7;
  border: 1px solid #F1F0F3;
  border-radius: 4px;
  padding-left: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3B393C;
}

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #A8A8A8;
}