@use "./src/utils/styles/styles";

.container {
  width: 100%;
  height: 100%;
  padding: 30px 40px 63px 40px;
  background: white;
  border-radius: 10px;

  .header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;

    div {
      display: flex;


      .download_button {
        margin-right: 30px;

        span {
          margin-right: 12.25px;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #5CC78D;

        }

        img {
          width: 19.5px;
          height: 20.5px;
        }
      }
    }

  }

  .content {
    h2 {
      font-family: 'SF Pro Display', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 25px;
      color: #3B393C;
      text-align: center;
      margin-bottom: 35px;
    }

    .row_div {
      width: 100%;
    }

    .title_codes {
      margin-bottom: 50px;





      .codes {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        div {
          width: 180px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: 20px;
        }

        h4 {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          color: #3B393C;
          margin-right: 10px;
        }

        span {
          width: 100px;
          height: 39px;
          background: #F7F3F7;
          border: 1px solid #F1F0F3;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;

          // fonts
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #3B393C;
        }

        p {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          color: #3B393C;
        }
      }
    }

    .header_2 {
      text-align: center;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #3B393C;
      margin-bottom: 40px;
    }

    .medcard_number {
      margin-bottom: 20px;
      p {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        color: #3B393C;
        margin-bottom: 4px;
      }
    }

    .title {
      width: 100%;
      height: 80px;
      background: #FDFDFD;
      border: 1px solid #F7F3F7;
      display: flex;
      align-items: center;
      padding-left: 10px;
      margin: 20px 0;
      cursor: pointer;

      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: styles.$text_black;
        margin-right: 25px;
        user-select: none;
      }
    }

    .fields {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 15px;
      row-gap: 15px;
    }

    .invisible {
      display: none;
    }





  }
}

