.calendar_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.calendar {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  border-style: none;
}

.booked,
.booked:hover {
  background-color: white !important;
  color: #5cc78d !important;
  border-radius: 4px !important;
  border: solid 1px #5cc78d !important;
}

