@use "./src/utils/styles/styles";

.edit_save_button {
  width: 140px;
  height: 44px;
  background: styles.$solid_green;
  border-style: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: white;
  cursor: pointer;
}

.edit_save_button:disabled {
  background: styles.$gray_color;
}