.home {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f7f3;
}

.header {
  width: 100%;
  height: 130px;
}

.header__logoContainer {
  width: 100%;
  height: 60px;
  background-color: #bdf5d7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.header__logo {
  width: 100%;
  height: 60px;
  max-width: 1340px;
  display: flex;
  align-items: center;
}

.header__logo h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  margin-left: 10px;
}

.navContainer {
  width: 100%;
  height: 70px;
  max-width: 1340px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 100%;
  max-width: 1340px;
}

.nav__options {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav_checklist {
  width: 140px;
}

.nav_icon {
  margin-right: 11.25px;
}

.active_option {
  background: #5cc78d;
  border-radius: 4px;
  color: #ffffff;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px 40px 50px;
}
